<section id="section_users" class="page">
  <div class="content-card">
    <nav class="card-nav">
      <ul>
        <li>
          <button class="nav-button" data-content-id="card-users-list">Lista de Usuarios</button>
        </li>
        <li>
          <button class="nav-button" data-content-id="card-new-user">Nuevo Usuario</button>
        </li>
      </ul>
    </nav>
    <div class="content-forms">
      <div id="card-users-list" class="content-form selected">
        <h2>Lista de Usuarios</h2>
        <ul id="ul-list-users" class="list">
          <!-- <li class="list-item">
            <span class="item-avatar">A</span>
            <div class="item-data">
              <span class="data-name">Admin</span>
              <span class="data-right">
                <span class="data-role">Administrador</span>
                <small> creado el </small>
                <span class="data-set_date">15/02/2016</span>
              </span>
            </div>
          </li> -->
        </ul>
      </div>

      <div id="card-new-user" class="content-form">

        <h2>Nuevo Usuario</h2>

        <form id="form-new-user"><!-- input new user data -->
          <label for="txt-userName">Nombre *</label>
          <input type="text" id="txt-userName" placeholder="Nombre de usuario" required>

          <label for="txt-password">Contrase単a *</label>
          <input type="password" id="txt-password" placeholder="Contrase単a" required>

          <label for="txt-password2">Repetir contrase単a *</label>
          <input type="password" id="txt-password2" placeholder="Repetir contrase単a" required>

          <label for="sel-role">Permisos *</label>
          <select id="sel-role" required>
            <option value="admin">Administrador</option>
            <option value="user" selected>Usuario</option>
          </select>

          <label for="user-email">Email</label>
          <input type="email" id="user-email" placeholder="Email">

          <button type="submit" class="btn-ok" id="btn-sub-new-user">Crear</button>
          <button type="reset" class="btn-cancel" id="btn-cancel-sub-new-user">Cancelar</button>
        </form>

      </div>
    </div>
  </div>
</section>
