<section id="section_winners" class="page">

    <div class="content-card">

      <nav class="card-nav">
        <ul>
          <li><button class="nav-button" data-content-id="card-winners-list">Lista de Ganadores</button></li>
        </ul>
        <!-- <ul>
          <li><button class="nav-button" data-content-id="card-new-prize">Nuevo Ganador</button></li>
        </ul> -->
      </nav>

      <div class="content-forms">

        <div id="card-winners-list" class="content-form selected">
          <h2>Lista de Ganadores</h2>
          <ul id="ul-list-winners" class="list">
            <!-- It's filled from JS -->
            <!-- <li class="list-item">
              <div>
                <span class="data-description">Nombre Apellido</span>
                <span class="data-description"><i>1.234.567-2</i></span>
                <span class="data-type">Premio:</span>
                <span class="data-description">The Fight Club - 1999</span>
                <span class="data-type">Entrada de Cine <i> - Movie Center</i></span>
                <div class="data-dates">
                  <span>Ganó el </span><span class="data-date">27/10/2016</span>
                </div>
                <div class="list-actions">
                  <button type="button" class="btn-ok btn-hand-over-prize" data-prize-id="dafsgdasfbaddrvfagwte">Entregado</button>
                  <button type="button" class="btn-cancel btn-cancel-hand-over-prize" data-winner-ci="12345672">Cancelar</button>
                </div>
              </div>
            </li> -->
          </ul>
        </div>

        <!-- <div id="card-new-winner" class="content-form">

        </div> -->

      </div>
    </div>

</section>
