$primary-color: #F58500;
$accent-color: #0070F5;
$light-grey: #EEE;
$grey: #888;
$dark-grey: #555;
$bar-height: 64px;
$html-background-color: #FFF;

html{
  font-size: 16px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  background-color: $html-background-color;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './home/home';
@import './drawer/drawer';
@import './users/users';
@import './prizes/prizesToolbar';
@import './prizes/prizeCard';

.app-wrapper{
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: $html-background-color;
  }
  ::-webkit-scrollbar-thumb {
    border: 2px solid $html-background-color;
    border-radius: 4px;
    background-color: $primary-color;
  }
}

.app-routes{
  overflow-y: auto;
  display: flex;
  justify-content: center;
  
  .app-container{
    width: 1200px;

    @media screen and (max-width: 1200px){
      width: 960px;
    }
  }
}

/*@media screen and (max-width: 1200px){ }*/

/*@media screen and (max-width: 960px){ }*/

/*@media screen and (max-width: 768px){ }*/

/*@media screen and (max-width: 480px){ }*/