$primary-color: #FF9800;
$primary-color-light: #FFC947;
$primary-color-dark: #C66900;
$accent-color: #00BCD4;
$accent-color-light: #62EFFF;
$accent-color-dark: #008BA3;
$grey100: #FAFAFA;
$grey300: #E0E0E0;
$grey500: #9E9E9E;
$grey800: #424242;
$bar-height: 64px;
$html-background-color: #EEE;

html{
  font-size: 16px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  background-color: $html-background-color;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './home/home';
@import './drawer/drawer';
@import './users/users';
@import './prizes/prizesToolbar';
@import './prizes/prizeCard';
@import './winners/winnerCard';
@import './winners/_winnerPrizes';

.app-wrapper{
  @media screen and (min-width: 769px){
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background-color: $html-background-color;
    }
    ::-webkit-scrollbar-thumb {
      border: 2px solid $html-background-color;
      border-radius: 5px;
      background-color: $grey500;
    }
  }
}

.app-routes{
  overflow-y: auto;
  display: flex;
  justify-content: center;
  
  .app-container{
    width: 1200px;

    @media screen and (max-width: 1200px){
      width: 960px;
    }
  }
}

/*@media screen and (max-width: 1200px){ }*/

/*@media screen and (max-width: 960px){ }*/

/*@media screen and (max-width: 768px){ }*/

/*@media screen and (max-width: 480px){ }*/