<html>

	<head>
		<title><%= pageTitle %> - <%= title %></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--Favicon-->
		<link href="img/favicon.jpg" rel="icon" type="image/jpg">

		<!--Manifest-->
		<link rel="manifest" href="manifest.json">

		<!--Roboto Font-->
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Josefin+Sans:600|Roboto:100,300,500,900,100italic,300italic,500italic,900italic'>
		<!--Material Icons-->
		<link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<link href="css/general.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<h1>ERROR 404</h1>
		<img src="./img/404_adondeibas.jpg" alt="¿A dónde ibas?" title="¿A dónde ibas?" />
		<h2>¿A dónde ibas?</h2>

	</body>

</html>
