.drawer{
  
  .drawer-header{
    font-size: 1.5rem;
    font-weight: 100;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .drawer-header-icon{
      height: 120px;
      width: 120px;
      padding: 10px;
    }

  }

  .drawer-item-icon{
    width: 64px;
    height: 64px;
    padding: 12px;
  }

  a{
    text-decoration: none;
    text-transform: uppercase;
    color: $grey;
    
    .drawer-link-icon{
      fill: $grey;
    }
    .drawer-header-text{
      font-size: 1rem;
      text-transform: none;
      color: $dark-grey;
      font-weight: 500;
    }
  
  }

}