<section id="section_login" class="page">
  <div class="content-card">
    <div class="content-forms">

      <div class="content-form">
        <img src="assets/img/icon_192.png" alt="Logo de Radiocero 104.3">
        <h2>Radiocero Premios <i>v0.4.2</i></h2>
        <div>
          <p>Aplicación realizada para: <a href="http://www.radiocero.com.uy/" target="_blank">Radiocero 104.3 FM</a></p>
          <p>Autor: <a href="http://www.danielsosa.uy/dev#contact" target="_blank">Daniel Sosa</a></p>
          <p>Año: 2016</p>
        </div>
      </div>

    </div>
  </div>
</section>