*{
  color: #888;
}
h2{
  line-height: 80px;
  font-size: 2.5rem;
  color: #F58500;
  font-weight: 100;
}
p{
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 100;
}
a{
  font-size: 1em;
  color: #F58500;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.page{
  position: relative;
  margin-left: 200px;
  width: calc(100% - 200px);
  height: 100vh;
}
.content-card{
  width: 50%;
  min-width: 700px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: hidden;
}
.content-forms{
  margin-top: 90px;
  height: calc(100vh - 90px);
  overflow-y: auto;
}
.content-forms::-webkit-scrollbar {
  display: none;
}
.content-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  margin: 0px 10px 20px 10px;
  padding: 20px;
}
.content-form img{
  width: 192px;
  height: 192px;
}
.content-form div{
  width: 100%;
}
.list-item{
  list-style-type: none;
  padding: 10px 0px;
  border-top: 1px solid #eee;
}
.item-avatar{
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #F58500;
  text-align: center;
  background-color: #EEEEEE;
  color: #F58500;
  font-size: 1.5em;
  text-transform: uppercase;
}
.item-data{
  width: calc(100% - 55px);
  display: inline-block;
}
.data-name{
  display: inline-block;
  text-transform: capitalize;
  padding-left: 15px;
  font-size: 1.3em;
}
.data-right{
  float: right;
}
.data-role,
.data-set_date{
  text-transform: uppercase;
  color: #555;
}