.winner-card-contact-link{

  .winner-card-action{

    .winner-card-action-icon{
      margin-right: 15px;
    }

  }
}
.winner-card-action-link{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}