.prizes-toolbar{
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $grey300;
  border-radius: 3px;
  padding: 0 10px;
  
  @media screen and (max-width: 960px){
    margin-top: 0;
    border-radius: 0;
  }
  
  @media screen and (max-width: 768px){
    flex-direction: column;
  }

  .search-bar{
    flex-grow: 10;
    height: $bar-height;
    border-style: none;
    border-radius: 3px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 768px){
      flex-grow: 0;
      width: 100%;
    }
  }

  .prizes-controls{
    flex-grow: 1;
    height: $bar-height;
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 768px){
      flex-grow: 0;
      width: 100%;
      padding: 0 10px;
    }

    .prizes-controls-item{
      flex-grow: 1;
      flex-wrap: wrap;
    }
  }
}

/*@media screen and (max-width: 1200px){ }*/

/*@media screen and (max-width: 960px){ }*/

/*@media screen and (max-width: 768px){ }*/

/*@media screen and (max-width: 480px){ }*/