.prizes-toolbar{
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $light-grey;
  border-radius: 3px;
  
  @media screen and (max-width: 960px){
    margin-top: 0;
    border-radius: 0;
  }

  .search-bar{
    width: 85%;
    height: $bar-height;
    border-style: none;
    border-radius: 3px;
    padding: 0 10px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1200px){
      width: 80%;
    }
    @media screen and (max-width: 960px){
      width: 100%;
      height: 50%;
      order: 2;
    }
  }

  .prizes-controls{
    width: 15%;
    height: $bar-height;
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 1200px){
      width: 20%;
    }
    @media screen and (max-width: 960px){
      height: 50%;
      margin-left: 10px;
      order: 1;
    }
  }
}

/*@media screen and (max-width: 1200px){ }*/

/*@media screen and (max-width: 960px){ }*/

/*@media screen and (max-width: 768px){ }*/

/*@media screen and (max-width: 480px){ }*/